<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="WSHttpBinding_ISyncReply">
                    <textMessageEncoding messageVersion="Soap12" />
                  <httpTransport maxReceivedMessageSize="2048000" />
                </binding>
                <binding name="WSHttpBinding_ISyncReply1">
                    <textMessageEncoding messageVersion="Soap12" />
                  <httpTransport maxReceivedMessageSize="2048000" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://develop.viggo.dk/api/soap12" binding="customBinding"
                bindingConfiguration="WSHttpBinding_ISyncReply" contract="develop.viggo.ISyncReply"
                name="WSHttpBinding_ISyncReply" />
            <endpoint address="http://localhost:55235/api/soap12" binding="customBinding"
                bindingConfiguration="WSHttpBinding_ISyncReply1" contract="localhostStig.ISyncReply"
                name="WSHttpBinding_ISyncReply1" />
        </client>
    </system.serviceModel>
</configuration>